<div class="plan row">
  <div class="col-lg-3 mb-2 mb-lg-0">
    <span class="p-input-icon-left full-width">
    <i class="pi pi-search color-bg-gray"></i>
    <input type="text" pInputText placeholder="Tìm kiếm" class="full-width border-rd-5 color-bg-gray">
  </span>
  </div>
  <div class="col-lg-2  mb-2 mb-lg-0">
    <p-dropdown optionLabel="năm" optionValue="value" placeholder="Chọn năm" [showClear]="true"
                styleClass="border-rd-5" panelStyleClass="full-width"
                dropdownIcon="icon-arrow-bottom-fill color-blue"></p-dropdown>
  </div>

  <div class="col-lg-2  mb-2 mb-lg-0">
    <p-dropdown optionLabel="người phụ trách" dropdownIcon="icon-arrow-bottom-fill color-blue"
                placeholder="Người phụ trách"
                styleClass="border-rd-5"
                [showClear]="true"></p-dropdown>
  </div>

  <div class="col-lg-2  mb-2 mb-lg-0">
    <p-dropdown placeholder="Loại kế hoạch" dropdownIcon="icon-arrow-bottom-fill color-blue"
                styleClass="border-rd-5 "
                [showClear]="true"></p-dropdown>
  </div>

  <div class="col-lg-2  mb-2 mb-lg-0">
    <p-dropdown placeholder="Trạng thái" dropdownIcon="icon-arrow-bottom-fill color-blue"
                styleClass="border-rd-5 "
                [showClear]="true"></p-dropdown>
  </div>


</div>


