<div>

  <div class=" align-items-center justify-content-between d-none d-lg-flex">
    <Button pButton type="button" label="kiểm tra tồn" class="btn btn--blue-bg"></Button>
    <Button pButton type="button" label="import file" icon="icon icon-add color-blue-btn"
            class="btn btn--white"></Button>
  </div>


  <div class="mt-3">
    <p-panel header="Thông báo">
      <div class="list-notify display-flex flex-column">
        <div class="item display-flex align-items-center">
          <img class="item__img" src="assets/images/bell.svg" alt="bell"/>
          <div class="item__content">CV NV A gửi KH chờ duyệt</div>
        </div>
        <div class="item display-flex align-items-center">
          <img class="item__img" src="assets/images/bell.svg" alt="bell"/>
          <div class="item__content">CV NV A gửi KH chờ duyệt</div>
        </div>
        <div class="item display-flex align-items-center">
          <img class="item__img" src="assets/images/bell.svg" alt="bell"/>
          <div class="item__content">CV NV A gửi KH chờ duyệt</div>
        </div>
        <div class="item display-flex align-items-center">
          <img class="item__img" src="assets/images/bell.svg" alt="bell"/>
          <div class="item__content">CV NV A gửi KH chờ duyệt</div>
        </div>
        <div class="item display-flex align-items-center">
          <img class="item__img" src="assets/images/bell.svg" alt="bell"/>
          <div class="item__content">CV NV A gửi KH chờ duyệt</div>
        </div>
      </div>
    </p-panel>

  </div>
  <div class="mt-3">
    <p-panel header="Log note - chờ duyệt (6)">


      <div class="list-notify display-flex flex-column">
        <div class="display-flex justify-content-between">
          <div class="display-flex align-items-center">
            <p-checkbox name="group1" value="all" [(ngModel)]="checkedAll" id="approve"></p-checkbox>
            <label class="ml-1 font-size-14" for="approve">Chọn tất cả</label>
          </div>
          <Button pButton type="button" class="btn btn--bg-blue" label="Duyệt"></Button>
        </div>
        <div class="item display-flex align-items-center">
          <p-checkbox name="group1" value=""></p-checkbox>
          <div class="display-flex">
            <p class="ml-1"><i class="icon icon-Agency"></i></p>
            <p>Nguyễn Văn A xin duyệt kế hoạch chi tiết T2 được giao</p>
          </div>
        </div>

      </div>
    </p-panel>

  </div>


</div>
