@import "variables";


.btn {
  display: flex;
  align-items: center;
  justify-content: center;
  padding: 0.5rem 0.75rem;
  text-transform: uppercase;
  border-radius: 5px;
  box-shadow: 0px 1px 4px rgba(109, 109, 109, 0.25);
  border: 1px solid $color_green_btn;
  font-size: 0.875rem;
  min-width: 130px;
  font-weight: 600;

  &.p-button {
    transition: unset;
  }

  .p-button-icon {
    margin-right: 5px;
    padding: 0;
    font-size: 14px;
    font-weight: 600;
  }

  &--green {
    background-color: rgba($color_green_btn, 0.1);
    color: $color_green_btn;
    border-color: $color_green_btn;

    .p-button-icon {
      color: $color_green_btn;
    }

    &:hover.p-button {
      color: $color_white;
      background-color: $color_green_btn;
      border-color: $color_green_btn
    }

    &:hover .p-button-icon {
      color: $color-white;
    }
  }

  &--blue {
    background-color: rgba($color_blue_btn, 0.1);
    color: $color_blue_btn;
    border-color: $color_blue_btn;

    .p-button-icon {
      color: $color_blue;
    }

    &:hover {
      color: $color_white;
      background-color: $color_blue_btn;
      border-color: $color_blue_btn;

    }

    &:hover .p-button-icon {
      color: $color-white;
    }
  }

  &--bg-blue {
    @extend .btn--blue;
    color: $color_white;
    background-color: $color_blue_btn;

    &:hover.p-button {
      color: $color_blue_btn;
      background-color: $color_white;
      border-color: $color_blue_btn;
    }

    &:hover .p-button-icon {
      color: $color_blue_btn;
    }

  }

  &--yellow {
    background-color: $color_yellow_btn;
    border-color: $color_yellow_btn;
    color: $color_white;

    .p-button-icon {
      color: $color_white;
    }

    &:hover.p-button {
      color: $color_yellow_btn;
      background-color: $color_white;
      border-color: $color_yellow_btn;
    }

    &:hover .p-button-icon {
      color: $color_yellow_btn;
    }
  }

  &--white {
    background-color: $color_white;
    border-color: $color_blue_btn;
    color: $color_blue_btn;

    .p-button-icon {
      color: $color_blue_btn
    }

    &:hover {
      color: $color_white;
      background-color: $color_white;
      border-color: $color_white;
    }
    &:hover .p-button-icon {
      color: $color_white;
    }
  }

  &--add, &--save {
    background-color:  $color_blue;
    color: $color_light;
    border-color: $color_blue;

    .p-button-icon {
      color: $color_light;
    }

    &:hover {
      color: $color_blue;
      background-color: $color_light;
      border-color: $color_blue;

    }

    &:hover .p-button-icon {
      color: $color_blue;
    }
  }

  &--cancel {
    background-color:  $color_cancel;
    color: $third_color_txt;
    border-color: $color_cancel;

    .p-button-icon {
      color: $third_color_txt;
    }

    &:hover {
      background-color: $color_cancel !important;
      color: $third_color_txt !important;
      border-color: $color_cancel !important;
      .p-button-icon {
        color: $third_color_txt !important;
      }

    }
  }

  &--import {
    min-width: 108px;
    background-color: #008bd61a;
    color: #008BD6;
    border-color: #008BD6;
    .p-button-icon {
      color: #008BD6;
    }
  }

}




