$colors: (
  'color-primary': $primary_color,
  'color-secondary': $secondary_color,
  'color-light': $color_light,
  'color-dark': $color_dark,
  'color-orange': $color_orange,
  'color-yellow': $color_yellow,
  'color-yellow-light': $color_yellow_light,
  'color-green': $color_green,
  'color-green-dark': $color_green_dark,
  'color-green-light': $color_green_light,
  'color-violet': $color_violet,
  'color-border': $color_border,
  'color-bg-blue': $color_bg_blue,
  'color-bg-gray': $color_bg_gray,
  'color-red': $color_red,
  'bg-body': $bg_body,
  'color-blue': $color_blue,
  'primary-color-txt': $primary_color_txt,
  'secondary-color-txt': $secondary_color_txt,
  'third-color-txt': $third_color_txt,
  'color-red-txt': $color_red_txt,
  'color-green-txt': $color_green_txt,
  'color-blue-txt': $color_blue_txt,
  'color-nav-txt': $color_nav_txt,
  'color-nav-border': $color_nav_border,
  'color-white':$color_white,
  'color-green-btn': $color_green_btn,
  'color-blue-btn': $color_blue_btn,
  'color-yellow-btn': $color_yellow_btn,
  'color-gray': $color_gray
);

@each $color, $value in $colors {
  .bg-#{$color} {
    background-color: $value;
  }
  .#{$color} {
    color: $value;
  }

}




