<div class="row pt-2">
  <div class="col-lg-9">
    <h2 class="font-size-24 text-center mb-3">Kế hoạch sản xuất tháng 6/2022</h2>
    <div class="panel">
      <app-plan-month-form></app-plan-month-form>
      <app-plan-month-form-filter></app-plan-month-form-filter>
    </div>
  </div>
  <div class="col-lg-3">
    <!--    <div class="display-flex">-->
    <!--      <button pButton type="button" class="btn btn&#45;&#45;white" label="import file" icon="icon-add"></button>-->
    <!--      <button pButton type="button" class="btn btn&#45;&#45;bg-blue ml-4" label="Duyệt"></button>-->
    <!--    </div>-->
    <app-plan-month-notify></app-plan-month-notify>
  </div>
  <!--  <div class="col-lg-9 panel">-->
  <!--    <app-plan-month-form></app-plan-month-form>-->
  <!--    <app-plan-month-form-filter></app-plan-month-form-filter>-->
  <!--  </div>-->

  <!--  <div class="col-lg-3 panel">-->
  <!--    <div class="width-70 ml-auto">-->
  <!--      <p-panel styleClass="panel-notify-view-plan" header="Thông báo (12)">-->
  <!--      <span class="p-input-icon-left mb-2">-->
  <!--        <i class="icon-Bunkering"></i>-->
  <!--        <input class="width-70" type="text" pInputText placeholder="Bộ lọc"/>-->
  <!--      </span>-->
  <!--        <div class="list-notify display-flex flex-column">-->

  <!--          <div class="item display-flex align-items-center">-->
  <!--            <img class="item__img" src="../../../../../assets/images/bell.svg" alt="bell"/>-->
  <!--            <div class="item__content">CV NV A gửi KH chờ duyệt</div>-->
  <!--          </div>-->
  <!--          <div class="item display-flex align-items-center">-->
  <!--            <img class="item__img" src="../../../../../assets/images/bell.svg" alt="bell"/>-->
  <!--            <div class="item__content">CV NV A gửi KH chờ duyệt</div>-->
  <!--          </div>-->
  <!--          <div class="item display-flex align-items-center">-->
  <!--            <img class="item__img" src="../../../../../assets/images/bell.svg" alt="bell"/>-->
  <!--            <div class="item__content">CV NV A gửi KH chờ duyệt</div>-->
  <!--          </div>-->
  <!--          <div class="item display-flex align-items-center">-->
  <!--            <img class="item__img" src="../../../../../assets/images/bell.svg" alt="bell"/>-->
  <!--            <div class="item__content">CV NV A gửi KH chờ duyệt</div>-->
  <!--          </div>-->
  <!--          <div class="item display-flex align-items-center">-->
  <!--            <img class="item__img" src="../../../../../assets/images/bell.svg" alt="bell"/>-->
  <!--            <div class="item__content">CV NV A gửi KH chờ duyệt</div>-->
  <!--          </div>-->
  <!--          <div class="item display-flex align-items-center">-->
  <!--            <img class="item__img" src="../../../../../assets/images/bell.svg" alt="bell"/>-->
  <!--            <div class="item__content">CV NV A gửi KH chờ duyệt</div>-->
  <!--          </div>-->
  <!--          <div class="item display-flex align-items-center">-->
  <!--            <img class="item__img" src="../../../../../assets/images/bell.svg" alt="bell"/>-->
  <!--            <div class="item__content">CV NV A gửi KH chờ duyệt</div>-->
  <!--          </div>-->
  <!--          <div class="item display-flex align-items-center">-->
  <!--            <img class="item__img" src="../../../../../assets/images/bell.svg" alt="bell"/>-->
  <!--            <div class="item__content">CV NV A gửi KH chờ duyệt</div>-->
  <!--          </div>-->
  <!--          <div class="item display-flex align-items-center">-->
  <!--            <img class="item__img" src="../../../../../assets/images/bell.svg" alt="bell"/>-->
  <!--            <div class="item__content">CV NV A gửi KH chờ duyệt</div>-->
  <!--          </div>-->
  <!--        </div>-->
  <!--      </p-panel>-->
  <!--    </div>-->

  <!--  </div>-->

</div>
