<div class="display-flex justify-content-between mb-3">

  <div class="display-flex flex-wrap btn-group g-2">
    <button pButton type="button" icon="icon icon-add" class="btn-action btn btn--green"
            label="Kế hoạch thủ công" (click)="onCreatePlanMonth()"></button>
    <button pButton type="button" icon="icon icon-add" class="btn-action btn btn--blue"
            label="kế hoạch tối ưu tự động"></button>
    <button pButton type="button" class="btn-action  btn btn--yellow" label="Điều chỉnh"></button>
    <button pButton type="button" class="btn-action btn btn--white" label="Tải về"></button>
  </div>

  <div>
    <button class="btn  btn--bg-blue" pButton label="Duyệt kế hoạch"></button>
  </div>

</div>



