<!-- <form
  *ngIf="bunkeringForm"
  [formGroup]="bunkeringForm"
  (submit)="onSubmit(bunkeringForm)"
  novalidate
>
  <div class="col-12 mb-5">
    <div class="display-flex justify-content-between form-arr">
      <p>New</p>
      <button type="button" mat-icon-button (click)="onClickAdd()">Add</button>
    </div>

    <p-table #dt dataKey="id" [metaKeySelection]="true">
      <ng-template pTemplate="header" datalist>
        <tr>
          <th pSortableColumn="quantityFo">quantity FO</th>
          <th pSortableColumn="quantityGo">quantity GO</th>
          <th pSortableColumn="ImportPriceFO">Import price FO</th>
          <th pSortableColumn="ImportPriceGO">Import price GO</th>
          <th pSortableColumn="ImportBarging">Import Barging</th>
          <th pSortableColumn="ExportPriceFO">Export price FO</th>
          <th pSortableColumn="ExportPriceGO">Export price GO</th>
          <th pSortableColumn="ExportBarging">Export Barging</th>
          <th pSortableColumn="Edit">Action</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="footer" formArrayName="detail">
        <tr
          class="p-selectable-row"
          *ngFor="let newDetail of detailArray.controls; let i = index"
          [formGroupName]="i"
        >
          <td>
            <input
              class="inp-quantity"
              type="number"
              formControlName="quantityFo"
            />
          </td>
          <td>
            <input
              class="inp-quantity"
              type="number"
              matInput
              formControlName="quantityGo"
            />
          </td>
          <td>
            <input
              class="inp-quantity"
              type="number"
              matInput
              formControlName="importPriceFo"
            />
          </td>
          <td>
            <input
              class="inp-quantity"
              type="number"
              matInput
              formControlName="importPriceGo"
            />
          </td>
          <td>
            <input
              class="inp-quantity"
              type="number"
              matInput
              formControlName="barging"
            />
          </td>
          <td>
            <input class="inp-quantity" type="number" />
          </td>
          <td>
            <input class="inp-quantity" type="number" />
          </td>
          <td>
            <input class="inp-quantity" type="number" />
          </td>
          <td>
            <button
              type="button"
              class="btn-action"
              (click)="handleClickEdit(i)"
            >
              <i class="pi pi-pencil mr-2"></i>
            </button>
            <button type="button" class="btn-action" (click)="removeDetail(i)">
              <i class="pi pi-trash"></i>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="group-info row mb-5">
    <div class="group-info__left col-9">
      <div class="buyer-info p-sm-3">
        <h3 class="buyer-info__tittle">Buyer Information</h3>
        <div class="buyer-info__form row">
          <div class="col-6">
            <p class="mt-3">Vessel</p>
            <p-dropdown
              [options]="vesselList"
              [(ngModel)]="selectedVesselList"
              optionLabel="name"
              formControlName="vessel"
              name="vessel"
            ></p-dropdown>
            <p class="mt-3">Buyer name</p>
            <p-dropdown
              [options]="buyerList"
              [(ngModel)]="selectedBuyerList"
              optionLabel="name"
              name="buyerName"
              formControlName="buyerName"
            ></p-dropdown>
          </div>
          <div class="col-6">
            <p class="mt-3">Address</p>
            <input
              class="full-width"
              type="text"
              pInputText
              placeholder="Input address"
              name="addressBuyer"
              formControlName="addressBuyer"
            />
            <p class="mt-3">Email</p>
            <input
              class="full-width"
              type="text"
              pInputText
              placeholder="Input email"
              name="emailBuyer"
              formControlName="emailBuyer"
            />
            <p class="mt-3">Phone</p>
            <input
              class="full-width"
              type="text"
              pInputText
              placeholder="Input phone"
              name="phoneBuyer"
              formControlName="phoneBuyer"
            />
          </div>
        </div>
      </div>

      <div class="buyer-info p-sm-3 mt-3">
        <h3 class="buyer-info__tittle">Suplier Information</h3>
        <div class="buyer-info__form row">
          <div class="col-6">
            <p class="mt-3">Suplier</p>
            <p-dropdown
              [options]="suplierList"
              [(ngModel)]="selectedSuplierList"
              optionLabel="name"
              name="suplier"
              formControlName="suplier"
            ></p-dropdown>
            <p class="mt-3">Phone</p>
            <input
              class="full-width"
              type="text"
              pInputText
              placeholder="Input address"
              name="phoneSuplier"
              formControlName="phoneSuplier"
            />
          </div>
          <div class="col-6">
            <p class="mt-3">Address</p>
            <input
              class="full-width"
              type="text"
              pInputText
              placeholder="Input address"
              name="addressSuplier"
              formControlName="addressSuplier"
            />
            <p class="mt-3">Email</p>
            <input
              class="full-width"
              type="text"
              pInputText
              placeholder="Input email"
              name="emailSuplier"
              formControlName="emailSuplier"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="group-info__right col-3">
      <div class="order-info p-sm-3">
        <h3 class="order-info__tittle">order Information</h3>
        <div class="order-info__form">
          <p class="mt-3">Order date</p>
          <p-calendar
            formControlName="orderDates"
            [showIcon]="true"
            inputId="icon"
          ></p-calendar>
          <p class="mt-3">Delivery date</p>
          <p-calendar
            class="full-width"
            formControlName="deliveryDate"
            [showIcon]="true"
            inputId="icon"
          ></p-calendar>
          <p class="mt-3">Supplier's payment date</p>
          <p-calendar
            class="full-width"
            formControlName="suplierPaymentDate"
            [showIcon]="true"
            inputId="icon"
          ></p-calendar>
          <p class="mt-3">Buyer's payment date</p>
          <p-calendar
            class="full-width"
            formControlName="buyerPaymentDate"
            [showIcon]="true"
            inputId="icon"
          ></p-calendar>
        </div>
      </div>

      <div class="order-info p-sm-3 mt-3">
        <h3 class="order-info__tittle">order Information</h3>
        <div class="order-info__form">
          <p class="mt-3">Order date</p>
          <p-calendar
            formControlName="orderDates"
            [showIcon]="true"
            inputId="icon"
          ></p-calendar>
        </div>
      </div>
    </div>
    <div class="group-info__bottom col-12 mt-3">
      <button
        pButton
        type="button"
        label="Cancel"
        class="p-button-outlined mr-3"
        (click)="onCancel()"
      ></button>
      <button
        class=""
        pButton
        type="button"
        label="Save"
        (click)="onSubmit(bunkeringForm)"
      ></button>
    </div>
  </div>
</form> -->

<form
  *ngIf="bunkeringForm"
  [formGroup]="bunkeringForm"
  (submit)="onSubmit(bunkeringForm)"
  novalidate
>
  <div class="col-12 mb-5">
    <div class="display-flex justify-content-between form-arr">
      <p>New</p>
      <button type="button" mat-icon-button (click)="onClickAdd()">Add</button>
    </div>

    <p-table
      #dt
      dataKey="id"
      [metaKeySelection]="true"
      [value]="detailArray.controls"
      formArrayName="detail"
    >
      <ng-template pTemplate="header" datalist>
        <tr>
          <th pSortableColumn="quantityFo">quantity FO</th>
          <th pSortableColumn="quantityGo">quantity GO</th>
          <th pSortableColumn="ImportPriceFO">Import price FO</th>
          <th pSortableColumn="ImportPriceGO">Import price GO</th>
          <th pSortableColumn="ImportBarging">Import Barging</th>
          <th pSortableColumn="ExportPriceFO">Export price FO</th>
          <th pSortableColumn="ExportPriceGO">Export price GO</th>
          <th pSortableColumn="ExportBarging">Export Barging</th>
          <th pSortableColumn="Edit">Action</th>
        </tr>
      </ng-template>

      <ng-template pTemplate="body" let-rowIndex="rowIndex">
        <tr class="p-selectable-row" [formGroupName]="rowIndex">
          <td>
            <input
              class="inp-quantity"
              type="number"
              formControlName="quantityFo"
            />
          </td>
          <td>
            <input
              class="inp-quantity"
              type="number"
              matInput
              formControlName="quantityGo"
            />
          </td>
          <td>
            <input
              class="inp-quantity"
              type="number"
              matInput
              formControlName="importPriceFo"
            />
          </td>
          <td>
            <input
              class="inp-quantity"
              type="number"
              matInput
              formControlName="importPriceGo"
            />
          </td>
          <td>
            <input
              class="inp-quantity"
              type="number"
              matInput
              formControlName="barging"
            />
          </td>
          <td>
            <input class="inp-quantity" type="number" />
          </td>
          <td>
            <input class="inp-quantity" type="number" />
          </td>
          <td>
            <input class="inp-quantity" type="number" />
          </td>
          <td>
            <button
              type="button"
              class="btn-action"
              (click)="handleClickEdit(rowIndex)"
            >
              <i class="pi pi-pencil mr-2"></i>
            </button>
            <button
              type="button"
              class="btn-action"
              (click)="removeDetail(rowIndex)"
            >
              <i class="pi pi-trash"></i>
            </button>
          </td>
        </tr>
      </ng-template>
    </p-table>
  </div>

  <div class="group-info row mb-5">
    <div class="group-info__left col-9">
      <div class="buyer-info p-sm-3">
        <h3 class="buyer-info__tittle">Buyer Information</h3>
        <div class="buyer-info__form row">
          <div class="col-6">
            <p class="mt-3">Vessel</p>
            <p-dropdown
              [options]="vesselList"
              [(ngModel)]="selectedVesselList"
              optionLabel="name"
              formControlName="vessel"
              name="vessel"
            ></p-dropdown>
            <p class="mt-3">Buyer name</p>
            <p-dropdown
              [options]="buyerList"
              [(ngModel)]="selectedBuyerList"
              optionLabel="name"
              name="buyerName"
              formControlName="buyerName"
            ></p-dropdown>
          </div>
          <div class="col-6">
            <p class="mt-3">Address</p>
            <input
              class="full-width"
              type="text"
              pInputText
              placeholder="Input address"
              name="addressBuyer"
              formControlName="addressBuyer"
            />
            <p class="mt-3">Email</p>
            <input
              class="full-width"
              type="text"
              pInputText
              placeholder="Input email"
              name="emailBuyer"
              formControlName="emailBuyer"
            />
            <p class="mt-3">Phone</p>
            <input
              class="full-width"
              type="text"
              pInputText
              placeholder="Input phone"
              name="phoneBuyer"
              formControlName="phoneBuyer"
            />
          </div>
        </div>
      </div>

      <div class="buyer-info p-sm-3 mt-3">
        <h3 class="buyer-info__tittle">Suplier Information</h3>
        <div class="buyer-info__form row">
          <div class="col-6">
            <p class="mt-3">Suplier</p>
            <p-dropdown
              [options]="suplierList"
              [(ngModel)]="selectedSuplierList"
              optionLabel="name"
              name="suplier"
              formControlName="suplier"
            ></p-dropdown>
            <p class="mt-3">Phone</p>
            <input
              class="full-width"
              type="text"
              pInputText
              placeholder="Input address"
              name="phoneSuplier"
              formControlName="phoneSuplier"
            />
          </div>
          <div class="col-6">
            <p class="mt-3">Address</p>
            <input
              class="full-width"
              type="text"
              pInputText
              placeholder="Input address"
              name="addressSuplier"
              formControlName="addressSuplier"
            />
            <p class="mt-3">Email</p>
            <input
              class="full-width"
              type="text"
              pInputText
              placeholder="Input email"
              name="emailSuplier"
              formControlName="emailSuplier"
            />
          </div>
        </div>
      </div>
    </div>
    <div class="group-info__right col-3">
      <div class="order-info p-sm-3">
        <h3 class="order-info__tittle">order Information</h3>
        <div class="order-info__form">
          <p class="mt-3">Order date</p>
          <p-calendar
            formControlName="orderDates"
            [showIcon]="true"
            inputId="icon"
          ></p-calendar>
          <p class="mt-3">Delivery date</p>
          <p-calendar
            class="full-width"
            formControlName="deliveryDate"
            [showIcon]="true"
            inputId="icon"
          ></p-calendar>
          <p class="mt-3">Supplier's payment date</p>
          <p-calendar
            class="full-width"
            formControlName="suplierPaymentDate"
            [showIcon]="true"
            inputId="icon"
          ></p-calendar>
          <p class="mt-3">Buyer's payment date</p>
          <p-calendar
            class="full-width"
            formControlName="buyerPaymentDate"
            [showIcon]="true"
            inputId="icon"
          ></p-calendar>
        </div>
      </div>

      <div class="order-info p-sm-3 mt-3">
        <h3 class="order-info__tittle">order Information</h3>
        <div class="order-info__form">
          <p class="mt-3">Order date</p>
          <p-calendar
            formControlName="orderDates"
            [showIcon]="true"
            inputId="icon"
          ></p-calendar>
        </div>
      </div>
    </div>
    <div class="group-info__bottom col-12 mt-3">
      <button
        pButton
        type="button"
        label="Cancel"
        class="p-button-outlined mr-3"
        (click)="onCancel()"
      ></button>
      <button
        class=""
        pButton
        type="button"
        label="Save"
        (click)="onSubmit(bunkeringForm)"
      ></button>
    </div>
  </div>
</form>
