.form-arr {
    background: #eee;
    padding: 1rem;
    border-radius: 4px;
}
table{
    background: #fff;
    padding: 1rem;
    border-radius: 4px;
}
.btn-action {
    background: none;
    border: none;
    cursor: pointer;
    padding: 0;
}
.inp-quantity {
    width: 100%;
}

.group-info {
    &__left {
        .buyer-info {
            background: #fff;
            border-radius: 8px;
        }
    }
    &__right {
        .order-info {
            background: #fff;
            border-radius: 8px;
        }
    }
    &__bottom {
        text-align: right;
    }
}

.full-width {
    width: 100%;
}