@import '../../../../assets/scss/commons/variables';

.table-action {
  &__menu {
    position: fixed;
    // top: 100%;
    // left: -45%;
    box-shadow: 0 0 6px rgba(0,0,0,.2);
    -webkit-box-shadow: 0 0 6px rgba(0,0,0,.2);
    z-index: 2;
    border-radius: 4px;
    -webkit-border-radius: 4px;
    -moz-border-radius: 4px;
    -ms-border-radius: 4px;
    min-width: max-content;
    
    li {
      a {
        padding: 0.5rem 0.9rem;
        color: $secondary_color_txt;

        i {
          margin-right: 0.35rem;
        }

        &:hover {
          background: $color_hover_menu;
        }
      }
    }
    
    
    &.right {
      right: 0;
      left: auto;
    }
  }
}