@import "src/assets/scss/commons/variables";
@import "src/assets/scss/commons/mixins";

.panel {
  border: 1px solid $color_border;
}

.form {
  padding: 0.875rem 0;

  &__top {
    border-bottom: 1px solid $color_border;
  }


  &-item {
    display: flex;
    align-items: center;


    @include toRem('font-size', 14);

    @include respond-to('large') {
      margin-bottom: 1rem;
      &__text {
        margin-bottom: 0.3rem;
      }
    }

    label {
      @include toRem('margin-right', 8);
      width: 30%;
    }

    input {
      flex: 1;
    }

    .p-dropdown {
      flex: 1
    }
  }

  .line {
    height: 0.5px;
    width: 120%;
    background-color: $color_border;
    @include toRem('margin-top', 12);
    @include toRem('margin-bottom', 12);
  }

}
