<thead>
  <tr>
    <th rowspan="2" colspan="1">Check</th>
    <th rowspan="2" colspan="1">Mã SP</th>
    <th rowspan="2" colspan="1">KH</th>
    <th rowspan="2" colspan="1">Tên - ký hiệu sản phẩm - BTC</th>
    <th rowspan="2" colspan="1">Chuyên viên phụ trách</th>
    <th rowspan="2" colspan="1">Nơi SX</th>
    <th rowspan="2" colspan="1">KH/TH</th>
    <th colspan="2" rowspan="1">Dự kiến giao hàng</th>
    <th rowspan="2" colspan="1">Tồn đầu</th>
    <th rowspan="2" colspan="1">Tổng nhập trước</th>
  </tr>
  <tr>
    <th rowspan="1" colspan="1">Trong tháng</th>
    <th rowspan="1" colspan="1">Tháng kế tiếp</th>
  </tr>
</thead>
