<div class="plan display-flex align-items-center">
  <div class="col-md-3">
    <span class="p-input-icon-left full-width">
    <i class="pi pi-search color-bg-gray"></i>
    <input type="text" pInputText placeholder="Tìm kiếm" class="full-width border-rd-5 color-bg-gray">
  </span>
  </div>
  <p-dropdown optionLabel="năm" optionValue="value" placeholder="Chọn năm" [showClear]="true"
              styleClass="border-rd-5" panelStyleClass="full-width"
              dropdownIcon="icon-arrow_drop_down color-blue"></p-dropdown>

  <p-dropdown optionLabel="người phụ trách" dropdownIcon="icon-arrow_drop_down color-blue" placeholder="Người phụ trách"
              styleClass="border-rd-5"
              [showClear]="true"></p-dropdown>

  <p-dropdown placeholder="Loại kế hoạch" dropdownIcon="icon-arrow_drop_down color-blue"
              styleClass="border-rd-5 "
              [showClear]="true"></p-dropdown>

  <p-dropdown placeholder="Trạng thái" dropdownIcon="icon-arrow_drop_down color-blue"
              styleClass="border-rd-5 "
              [showClear]="true"></p-dropdown>

</div>


