<div class="display-flex align-items-center justify-content-between mb-1">
  
  <div class="display-flex gap-1">
    <button pButton type="button" icon="icon icon-add" class="btn btn--green"
            label="Kế hoạch thủ công"></button>
    <button pButton type="button" icon="icon icon-add" class="btn btn--blue mx-4"
            label="kế hoạch tối ưu tự động"></button>
    <button pButton type="button" class="btn btn--yellow mr-4" label="Điều chỉnh"></button>
    <button pButton type="button" class="btn btn--white" label="Tải về"></button>
  </div>

  <div>
    <button class="btn  btn--bg-blue" pButton label="Duyệt kế hoạch"></button>
  </div>

</div>



